body {
  background: url('./assets/images/bg.png');
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-items: center;

  @media screen and (max-width: 600px) {
    width: 100%;
    align-items: center;
  }
}

.steps {
  position: fixed;
  bottom: 20px;
  width: 100%;
  width: inherit;

  @media screen and (max-width: 600px) {
    width: fit-content;
    display: flex;
    justify-content: center;
  }
}